*.o
*.d
*.cmd
*.ko
*.cm
Module.symvers
modules.order
.tmp_versions
*.mod
*.mod.c
*.ur-safe
.clang-format
checkpatch.pl
const_structs.checkpatch
spelling.txt
.checkpatch-camelcase.git.*
.cproject
.project
.settings
.cache.mk
.vscode-ctags
.vscode/*
